.signup-container {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-card {
  background-color: var(--btn-background-color);
  height: 22rem;
  width: 18rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

h4,
p {
  margin: 0;
  padding: 0;
}

h4 {
  color: var(--background-color);
}

p {
  font-size: small;
  color: var(--secondary-font-color);
  padding-top: 0.3rem;
}

input,
button {
  height: 2rem;
  width: 15rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--secondary-font-color);
}

.signup-option {
  display: flex;
  column-gap: 3.5rem;
  font-size: small;
  color: var(--background-color);
  font-weight: 600;
  padding-bottom: 1rem;
}

.signup-btn {
  color: var(--btn-background-color);
  background-color: #7f00ff;
  border: none;
  cursor: pointer;
}

.google-signup,
.github-signup {
  background-color: var(--btn-background-color);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1.5rem 0 0.8rem;
}

.google-and-github-signup {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  row-gap: 0.5rem;
}

.signup-icon {
  height: 1.2rem;
  width: 1.2rem;
}
